[*.{appxmanifest,axml,build,c,c++,c++m,cc,ccm,cginc,compute,config,cp,cpp,cppm,csproj,cu,cuh,cxx,cxxm,dbml,discomap,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,ixx,jsproj,lsproj,mpp,mq4,mq5,mqh,mxx,njsproj,nuspec,proj,props,proto,resw,resx,StyleCop,targets,tasks,tpp,usf,ush,vbproj,xml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{asax,ascx,aspx,axaml,cs,cshtml,css,htm,html,js,jsx,master,paml,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{json,resjson}]
indent_style = tab
indent_size = tab
tab_width = 2

[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = none
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:suggestion
csharp_style_namespace_declarations = block_scoped:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion

# ReSharper properties
resharper_accessor_owner_body = accessors_with_expression_body
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_csharp_empty_block_style = together
resharper_csharp_max_line_length = 240
resharper_csharp_other_braces = end_of_line
resharper_csharp_wrap_lines = false
resharper_for_simple_types = use_var_when_evident
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_initializer_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_simple_initializer_on_single_line = true
resharper_vb_keep_user_linebreaks = false
resharper_vb_stick_comment = false
resharper_vb_wrap_lines = false
resharper_wrap_object_and_collection_initializer_style = chop_always

# ReSharper inspection severities
resharper_arrange_namespace_body_highlighting = hint
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = hint
resharper_arrange_type_modifiers_highlighting = hint
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_comment_typo_highlighting = hint
resharper_identifier_typo_highlighting = hint
resharper_inconsistent_naming_highlighting = hint
resharper_localizable_element_highlighting = hint
resharper_markup_attribute_typo_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_string_literal_typo_highlighting = hint
resharper_suggest_var_or_type_built_in_types_highlighting = hint
