root = true
# Elimine la línea siguiente si desea heredar la configuración de .editorconfig de directorios más elevados

# Archivos de C#
[*.cs]

#### Opciones principales de EditorConfig ####

# Sangría y espaciado
indent_size = 4
indent_style = tab
tab_width = 4

# Nuevas preferencias de línea
end_of_line = crlf
insert_final_newline = false

#### Convenciones de codificación .NET ####

# Organizar instrucciones Using
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = false
file_header_template = 

# Preferencias de this. y .me
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

# Preferencias de palabras clave frente a tipos de BCL
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# Preferencias de paréntesis
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_other_operators = never_if_unnecessary
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:none

# Preferencias de modificador

# Preferencias de nivel de expresión
dotnet_style_coalesce_expression = true
dotnet_style_collection_initializer = true
dotnet_style_explicit_tuple_names = true
dotnet_style_namespace_match_folder = true
dotnet_style_null_propagation = true
dotnet_style_object_initializer = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_auto_properties = true
dotnet_style_prefer_collection_expression = when_types_loosely_match
dotnet_style_prefer_compound_assignment = true
dotnet_style_prefer_conditional_expression_over_assignment = true
dotnet_style_prefer_conditional_expression_over_return = true
dotnet_style_prefer_foreach_explicit_cast_in_source = when_strongly_typed
dotnet_style_prefer_inferred_anonymous_type_member_names = true
dotnet_style_prefer_inferred_tuple_names = true
dotnet_style_prefer_is_null_check_over_reference_equality_method = true
dotnet_style_prefer_simplified_boolean_expressions = true
dotnet_style_prefer_simplified_interpolation = true

# Preferencias de campo
dotnet_style_readonly_field = true

# Preferencias de parámetro
dotnet_code_quality_unused_parameters = all

# Preferencias de eliminación
dotnet_remove_unnecessary_suppression_exclusions = none

# Nuevas preferencias de línea
dotnet_style_allow_multiple_blank_lines_experimental = true
dotnet_style_allow_statement_immediately_after_block_experimental = true

#### Convenciones de código de C# ####

# Preferencias de var
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

# Miembros en cuerpo de expresión
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_expression_bodied_operators = false:silent

# Preferencias de coincidencia de patrón
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_prefer_extended_property_pattern = true:suggestion
csharp_style_prefer_not_pattern = true:suggestion
csharp_style_prefer_pattern_matching = true:silent
csharp_style_prefer_switch_expression = true:suggestion

# Preferencias de comprobación de nulo
csharp_style_conditional_delegate_call = true:suggestion

# Preferencias de modificador
csharp_prefer_static_local_function = true:suggestion
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async, file, required:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_prefer_readonly_struct_member = true:suggestion

# Preferencias de bloque de código
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_namespace_declarations = block_scoped:none
csharp_style_prefer_method_group_conversion = true:silent
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_prefer_top_level_statements = true:silent

# Preferencias de nivel de expresión
csharp_prefer_simple_default_expression = true
csharp_style_deconstructed_variable_declaration = true
csharp_style_implicit_object_creation_when_type_is_apparent = true
csharp_style_inlined_variable_declaration = true
csharp_style_prefer_index_operator = true
csharp_style_prefer_local_over_anonymous_function = true
csharp_style_prefer_null_check_over_type_check = true
csharp_style_prefer_range_operator = true
csharp_style_prefer_tuple_swap = true
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_throw_expression = true
csharp_style_unused_value_assignment_preference = discard_variable
csharp_style_unused_value_expression_statement_preference = discard_variable

# Preferencias de directiva "using"
csharp_using_directive_placement = outside_namespace:silent

# Nuevas preferencias de línea
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:silent
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = true:silent
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = true:silent
csharp_style_allow_embedded_statements_on_same_line_experimental = true:silent

#### Reglas de formato de C# ####

# Nuevas preferencias de línea
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_open_brace = accessors,anonymous_methods,anonymous_types,control_blocks,events,indexers,lambdas,object_collection_array_initializers,properties,types
csharp_new_line_between_query_expression_clauses = true

# Preferencias de indentación
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = no_change
csharp_indent_switch_labels = true

# Preferencias de espacio
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# Preferencias de encapsulado
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

#### Estilos de nomenclatura ####

# Reglas de nomenclatura

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Especificaciones de símbolos

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Estilos de nomenclatura

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_array_initializer = false
resharper_align_multiline_calls_chain = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_statement_conditions = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_after_block_statements = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_csharp_alignment_tab_fill_style = optimal_fill
resharper_csharp_align_multiline_parameter = true
resharper_csharp_empty_block_style = together
resharper_csharp_int_align_comments = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_max_line_length = 240
resharper_csharp_other_braces = end_of_line
resharper_csharp_stick_comment = false
resharper_csharp_wrap_lines = false
resharper_enforce_line_ending_style = true
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_nested_fixed_stmt = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_lock_stmt = true
resharper_indent_nested_usings_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_instance_members_qualify_declared_in = 
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_linebreaks = false
resharper_keep_existing_list_patterns_arrangement = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_place_simple_list_pattern_on_single_line = false
resharper_place_simple_property_pattern_on_single_line = false
resharper_space_around_binary_operator = true
resharper_space_before_type_parameter_parentheses = false
resharper_use_continuous_indent_inside_parens = false
resharper_use_heuristics_for_body_style = false
resharper_use_indents_from_main_language_in_file = false
resharper_use_indent_from_vs = false
resharper_vb_alignment_tab_fill_style = optimal_fill
resharper_vb_keep_user_linebreaks = false
resharper_vb_stick_comment = false
resharper_vb_wrap_lines = false

# Microsoft .NET properties
dotnet_naming_rule.enum_member_rule.import_to_resharper = True
dotnet_naming_rule.enum_member_rule.resharper_description = Enum members
dotnet_naming_rule.enum_member_rule.resharper_guid = 8b8504e3-f0be-4c14-9103-c732f2bddc15
dotnet_naming_rule.enum_member_rule.resharper_style = AA_BB, AaBb
dotnet_naming_rule.enum_member_rule.severity = suggestion
dotnet_naming_rule.enum_member_rule.style = all_upper_style
dotnet_naming_rule.enum_member_rule.symbols = enum_member_symbols
dotnet_naming_rule.interface_should_be_begins_with_i.import_to_resharper = True
dotnet_naming_rule.interface_should_be_begins_with_i.resharper_description = interface_should_be_begins_with_i
dotnet_naming_rule.interface_should_be_begins_with_i.resharper_guid = edf1ba00-6bbe-4f84-9abc-1e8e4afd4f58
dotnet_naming_rule.non_field_members_should_be_pascal_case.import_to_resharper = True
dotnet_naming_rule.non_field_members_should_be_pascal_case.resharper_description = non_field_members_should_be_pascal_case
dotnet_naming_rule.non_field_members_should_be_pascal_case.resharper_guid = dff0adcf-c09f-4010-825e-0c4bcc4609f5
dotnet_naming_rule.types_should_be_pascal_case.import_to_resharper = True
dotnet_naming_rule.types_should_be_pascal_case.resharper_description = types_should_be_pascal_case
dotnet_naming_rule.types_should_be_pascal_case.resharper_guid = 669b64e1-2349-4a9d-8d5b-a044ef5c4dc4
dotnet_naming_style.all_upper_style.capitalization = all_upper
dotnet_naming_style.all_upper_style.word_separator = _
dotnet_naming_symbols.enum_member_symbols.applicable_accessibilities = *
dotnet_naming_symbols.enum_member_symbols.applicable_kinds = 
dotnet_naming_symbols.enum_member_symbols.resharper_applicable_kinds = enum_member
dotnet_naming_symbols.enum_member_symbols.resharper_required_modifiers = any

# ReSharper inspection severities
resharper_arrange_accessor_owner_body_highlighting = none
resharper_arrange_redundant_parentheses_highlighting = hint
resharper_arrange_this_qualifier_highlighting = hint
resharper_arrange_type_member_modifiers_highlighting = none
resharper_arrange_type_modifiers_highlighting = none
resharper_built_in_type_reference_style_for_member_access_highlighting = hint
resharper_built_in_type_reference_style_highlighting = hint
resharper_check_namespace_highlighting = hint
resharper_comment_typo_highlighting = hint
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting = hint
resharper_convert_to_using_declaration_highlighting = hint
resharper_grammar_mistake_in_comment_highlighting = hint
resharper_grammar_mistake_in_markup_attribute_highlighting = none
resharper_identifier_typo_highlighting = hint
resharper_inconsistent_naming_highlighting = suggestion
resharper_invert_if_highlighting = none
resharper_localizable_element_highlighting = hint
resharper_markup_attribute_typo_highlighting = hint
resharper_member_can_be_private_global_highlighting = hint
resharper_merge_into_pattern_highlighting = hint
resharper_redundant_base_qualifier_highlighting = warning
resharper_string_literal_typo_highlighting = none
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_suggest_var_or_type_elsewhere_highlighting = hint
resharper_suggest_var_or_type_simple_types_highlighting = hint
resharper_unused_member_local_highlighting = hint
resharper_use_collection_expression_highlighting = hint
resharper_use_string_interpolation_highlighting = hint

[*.{cs,vb}]
end_of_line = crlf
dotnet_style_allow_multiple_blank_lines_experimental = true:silent
dotnet_style_allow_statement_immediately_after_block_experimental = true:silent
dotnet_style_readonly_field = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

[*.{appxmanifest,asax,ascx,aspx,axaml,axml,blockshader,build,c,c++,c++m,cc,ccm,cginc,compute,config,cp,cpp,cppm,cs,cshtml,csproj,css,cu,cuh,cxx,cxxm,dbml,discomap,dtd,fx,fxh,h,h++,hh,hlsl,hlsli,hlslinc,hp,hpp,htm,html,hxx,icc,inc,inl,ino,ipp,ixx,js,json,jsproj,jsx,lsproj,master,mpp,mq4,mq5,mqh,mxx,njsproj,nuspec,paml,proj,props,proto,razor,resjson,resw,resx,shaderFoundry,skin,StyleCop,targets,tasks,tcc,tpp,ts,tsx,usf,ush,vb,vbproj,xaml,xamlx,xml,xoml,xsd}]
indent_style = tab
indent_size = tab
tab_width = 4
